*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #014AAD;


}
h1{
    font-weight: 900;
    text-shadow: 2px 2px 4px #504e4e;
    font-family: 'Lato', sans-serif;
}
h2, h3, h4{
    font-weight: 900;
    color: #014AAD;
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
}

h2:hover, a:hover{
    color: black;
    text-transform: uppercase;
}
